absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.11.0
argcomplete==3.6.2
asteval==1.0.5
astunparse==1.6.3
async-timeout==4.0.3
cachetools==5.3.2
cairocffi==1.7.0
CairoSVG==2.7.1
certifi==2025.10.5
charset-normalizer==3.4.3
chemlib==2.2.4
click==8.1.8
codeclimate-test-reporter==0.2.3
confsmooth==1.0.0
contourpy==1.2.1
coverage==4.3.4
cssselect2==0.7.0
deep-translator==1.11.4
dill==0.3.9
dnspython==2.6.1
exceptiongroup==1.3.0
Farama-Notifications==0.0.4
fastapi==0.118.0
flatbuffers==23.5.26
fortranformat==2.0.0
frozenlist==1.4.1
gast==0.5.4
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.62.0
gym==0.21.0
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.16.0
idna==3.10
importlib_resources==6.4.0
ipympl==0.9.4
ipynbname==2024.1.0.0
joblib==1.4.2
juliapkg==0.1.13
jupytext==1.16.4
kiwisolver==1.4.5
latexcodec==3.0.0
libclang==16.0.6
lightgbm==4.3.0
lmfit==1.3.2
lxml==6.0.2
Markdown==3.5.2
markdown-it-py==3.0.0
matminer==0.9.0
matplotlib==3.8.4
mdit-py-plugins==0.4.0
mdurl==0.1.2
minlpe==1.0.1
ml-dtypes==0.2.0
monty==2024.3.31
mordred==1.2.0
multidict==6.0.5
numpy==2.0.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opencv-python==4.9.0.80
openTSNE==1.0.1
opt-einsum==3.3.0
packaging==24.0
palettable==3.3.3
pandas==2.2.3
pandas-datareader==0.10.0
parsy==2.1
patsy==0.5.6
pipx==1.8.0
platformdirs==4.2.2
plotly==5.20.0
protobuf==5.26.1
PuLP==2.9.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybtex==0.24.0
pydantic==2.11.10
pydantic_core==2.33.2
pyDOE2==1.3.0
pygame==2.5.2
pyglet==1.5.0
pymatgen==2023.9.25
pyMCR==0.5.1
pymongo==4.8.0
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2025.2
rdkit==2023.9.5
requests==2.32.3
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
schnetpack==0.3
scine-sparrow==4.0.0
scine-utilities==9.0.0
scipy==1.13.1
seaborn==0.13.2
semver==3.0.2
Shimmy==1.3.0
six==1.15.0
sniffio==1.3.1
spglib==2.3.1
SQLAlchemy==2.0.35
starlette==0.48.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboardX==2.1
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
threadpoolctl==3.5.0
tinycss2==1.3.0
tomli==2.0.2
torch==2.2.1
torch-scatter==2.1.2
torch_geometric==2.5.3
tqdm==4.66.4
triton==2.2.0
typing-inspection==0.4.2
typing_extensions==4.12.2
tzdata==2024.1
uncertainties==3.2.2
urllib3==2.5.0
userpath==1.9.2
uvicorn==0.37.0
vasppy==0.7.1.0
xraydb==4.5.4
yarl==1.9.4
